<%= form_for @spot do |f| %>

  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@spot.errors.count, "error") %>
        prohibited this surf spot from being saved:
      </h2>
      <ul>
        <% @spot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <% spots_array = @spots.map { |spot| [spot.title, spot.id] } %>
  
  <p>
    <%= f.label :spot_id %><br>
    <%= f.select(:spot_id, options_for_select(spots_array), {:include_blank => true}) %>
  </p>



  <p>
    <%= f.submit %>
  </p>

<% end %>
