<h1>Surf Spots</h1>
<%= link_to 'Create a new surf spot', new_spot_path %>
<h1> </h1>
<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
  </tr>

  <% @spots.each do |spot| %>
    <tr>
      <td><%= spot.title %></td>
      <td><%= spot.location %></td>
      <td><%= link_to 'Show', spot_path(spot) %></td>
      <td><%= link_to 'Edit', edit_spot_path(spot) %></td>
      <td><%= link_to 'Destroy', spot_path(spot),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
