<div class = "container-fluid">
  <h2>Surf Spot</h2>
  <p>
    <strong>Title:</strong>
    <%= @spot.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @spot.location %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @spot.formatted_wave_type %>
  </p>


  <% if logged_in? && admin_user? %>
    <%= link_to 'Edit this Spot', edit_spot_path %><br>
    <%= link_to 'Destroy this Spot', spot_path(@spot),
        method: :delete,
        data: { confirm: 'Are you sure?' } %><br>
    <%= link_to 'View All Spots', spots_path %><br>
  <% elsif logged_in? %>
    <%= link_to 'Edit this Spot', edit_spot_path %><br>
    <%= link_to 'View All Spots', spots_path %><br>
  <% else %>
    <%= link_to 'View All Spots', spots_path %><br>
  <% end %>
</div>

