<div class = "container-fluid">
  <h2>Surf Spot</h2>
  <p>
    <strong>Title:</strong>
    <%= @spot.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @spot.location %>
  </p>

  <%= link_to 'Edit this Spot', edit_spot_path %><br>
  <%= link_to 'Destroy this Spot', spot_path(@spot),
      method: :delete,
      data: { confirm: 'Are you sure?' } %><br>
  <%= link_to 'View All Spots', spots_path %><br>
</div>