<p>
  <strong>Title:</strong>
  <%= @spot.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @spot.location %>
</p>


<p>
  <strong>Parent:</strong>
  <%= @spot.parent_title %>
</p>

<%= link_to 'View All Spots', spots_path %>
<%= link_to 'Edit this Spot', edit_spot_path %>
