<div>
    <%= form_for(@user) do |f| %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </p>

      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
      </p>

      <p>
        <%= f.label :hometown %><br>
        <%= f.text_field :hometown %>
      </p>

      <p>
        <%= f.label :profile %><br>
        <%= f.text_area :profile %>
      </p>

      <%= f.submit "Submit", class: "btn btn-default btn-xs" %>
    <% end %>
 
  </div>
</div>