<div class= "container-fluid">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<h1>Sign up</h1>
  <div>
    <%= form_for(@user) do |f| %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </p>

      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
      </p>

      <%= f.submit "Submit", class: "btn btn-default btn-xs" %>
    <% end %>

    <p>Already a user? <%= link_to "Log in here!", login_path %></p> 
  </div>
</div>
