<div class = "container-fluid">
  <h1><%= @user.name %>'s Profile</h1>
  <p>
    <strong>Name</strong><br>
    <%= @user.name %>
  </p>
  <p>
    <strong>Email</strong><br>
    <%= @user.email %>
  </p>
  <p>
    <strong>Last Updated</strong><br>
    <%= @user.updated_at.strftime("%A, %B %d, %G") %>
  </p>

  <p>
    <strong>Time right now</strong><br>
    <%= Time.now %><br>
  </p><br>

  <% if logged_in? && current_user? %>
    <%= link_to 'View All Surfers', users_path %>
    <%= link_to 'Edit Profile', edit_user_path %>
  <% else %>
    <%= link_to 'Edit Profile', edit_user_path %>
  <% end %>
</div>