<div class = "container-fluid">
  <h1><%= @user.name %>'s Profile</h1>
  <p>
    <strong>Name</strong><br>
    <%= @user.name %>
  </p>
  <p>
    <strong>Email</strong><br>
    <%= @user.email %>
  </p>
  <p>
    <strong>Hometown</strong><br>
    <%= @user.hometown %>
  </p>
  <p>
    <strong>Profile</strong><br>
    <%= @user.profile %>
  </p>
  <p>
    <strong>Last Updated</strong><br>
    <%= @user.updated_at.strftime("%A, %B %d, %G") %>
  </p><br>

  <% if @user.surfboards.size > 0 %>
    <h4><%= @user.name %> has an <%= @user.surfboards.size %> board quiver </h4>
  <% end %>

  <%= render @user.surfboards %>

  <h4>Add a board</h4>

  <%= render 'surfboards/form' %>

  <% if logged_in? && current_user? %>
    <p><%= link_to 'Edit Profile', edit_user_path %><p>
    <%= link_to 'View All Surfers', users_path %>
  <% else %>
    <%= link_to 'View All Surfers', users_path %>
  <% end %>

</div>
