<div class='card'>
  <div class='card-body'>
    <h1><%= @user.name %>'s Profile</h1>
      <div class="row">
        <div class="col-4 col">
          <p>
            <strong>Email</strong><br>
            <%= @user.email %>
          </p>
          <p>
            <strong>Hometown</strong><br>
            <%= @user.hometown %>
          </p>
          <ul class="list-group">
        <li class="d-flex justify-content-between align-items-center">
          Total Surf Sessions Recorded
          <span class="badge badge-primary badge-pill"><%= @numbers.count %></span>
        </li>
      </ul>
        </div>
        <div class="col-4 col">
          <p>
            <strong>Profile</strong><br>
            <%= @user.profile %>
          </p>
          <p>
            <strong>Last Updated</strong><br>
            <%= @user.updated_at.strftime("%A, %B %d, %G") %>
          </p><br>
        </div>
      </div>

    <% if @user.surfboards.size > 0 %>
      <h4><%= @user.name %> has a <%= @user.surfboards.size %> board quiver </h4>
    <% end %>

    <%= render @user.surfboards %>

    <h4>Add a board</h4>

    <%= render 'surfboards/form' %>

    <% if logged_in? && current_user? %>
      <p><%= link_to 'Edit Profile', edit_user_path %><p>
      <%= link_to 'View All Surfers', users_path %>
    <% else %>
      <%= link_to 'View All Surfers', users_path %>
    <% end %>
  </div>
</div>
