<%= form_for(@surf_session, html: {multipart: true}) do |f| %>


  <% if @surf_session.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@surf_session.errors.count, "error") %>
        prohibited this surf session from being saved:
      </h2> 
      <ul>
        <% @surf_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= "Your Name" %><br></strong>
    <%= f.collection_select(:user_ids, User.all, :id, :name) %>
    <p> Don't see your name? <%= link_to 'Add Yourself!', new_user_path %></p>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :spot_id %><br>
    <%= f.collection_select(:spot_id, Spot.all, :id, :title) %>
  </p>

  <p>
    <%= f.label :start_time %><br>
    <%= f.time_field :start_time %>
  </p>

  <p>
    <%= f.label :end_time %><br>
    <%= f.time_field :end_time %>
  </p>
 
  <p>
    <%= f.label :average_wave_height %><br>
    <%= f.select :average_wave_height, SurfSession.average_wave_heights.to_a.map{ |key_and_index| [key_and_index[0].titleize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :surf_conditions %><br>
    <%= f.select :surf_conditions, SurfSession.surf_conditions.to_a.map{ |key_and_index| [key_and_index[0].titleize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :consistency %><br>
    <%= f.select :consistency, SurfSession.consistencies.to_a.map{ |key_and_index| [key_and_index[0].titleize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :session_rating %><br>
    <%= f.select :session_rating, SurfSession.session_ratings.to_a.map{ |key_and_index| [key_and_index[0].titleize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :session_summary %><br>
    <%= f.text_area :session_summary %>
  </p> 

  <p>
    <%= f.label :tag_list %><br>
    <p>When create tags, separate each tag with a comma:</p>
    <%= f.text_field :tag_list %>
  </p> 

  <p>
    <%= render @surf_session.attachments %>
    <%= f.label :image, "Attach an Image" %><br>
    <%= f.file_field :image, :multiple => true %>
  </p>
 
  <p>
    <%= f.submit "Submit", class: "btn btn-default btn-xs" %>
  </p>

<% end %>
