<%= form_for @surf_session do |f| %>

  <% if @surf_session.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@surf_session.errors.count, "error") %>
        prohibited this surf session from being saved:
      </h2> 
      <ul>
        <% @surf_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= "Your Name" %><br>
    <%= f.text_field :surfer %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :spot_id %><br>
    <%= f.collection_select(:spot_id, Spot.all, :id, :title) %>
  </p>

  <p>
    <%= f.label :start_time %><br>
    <%= f.time_field :start_time %>
  </p>

  <p>
    <%= f.label :end_time %><br>
    <%= f.time_field :end_time %>
  </p>
 
  <p>
    <%= f.label :average_wave_height %><br>
    <%= f.select :average_wave_height, SurfSession.average_wave_heights.to_a.map{ |key_and_index| [key_and_index[0].humanize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :surf_conditions %><br>
    <%= f.select :surf_conditions, SurfSession.surf_conditions.to_a.map{ |key_and_index| [key_and_index[0].humanize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :consistency %><br>
    <%= f.select :consistency, SurfSession.consistencies.to_a.map{ |key_and_index| [key_and_index[0].humanize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :session_rating %><br>
    <%= f.select :session_rating, SurfSession.session_ratings.to_a.map{ |key_and_index| [key_and_index[0].humanize, key_and_index[0]] } %>
  </p>

  <p>
    <%= f.label :session_summary %><br>
    <%= f.text_area :session_summary %>
  </p>
 
  <p>
    <%= f.submit "Submit", class: "btn btn-default btn-xs" %>
  </p>

<% end %>