<h1>Surf Sessions</h1>
<%= link_to 'Create a surf session', new_surf_session_url %>
<h1> </h1>
<table>
  <tr>
    <th>Surfer</th>
    <th>Date</th>
    <th>Location</th>
    <th>Average Wave Height</th>
  </tr>

  <% @surf_sessions.each do |surf_session| %>
    <tr>
      <td><%= surf_session&.surfer %></td>
      <td><%= surf_session&.date %></td>
      <td><%= surf_session.spot&.title %></td>
      <td><%= surf_session&.average_wave_height.humanize %></td>
      <td><%= link_to 'Show', surf_session_path(surf_session) %></td>
      <td><%= link_to 'Edit', edit_surf_session_path(surf_session) %></td>
      <td><%= link_to 'Delete', surf_session_path(surf_session),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
