<div class = "container-fluid">

<h1>Surf Sessions</h1>
<%= link_to 'Create a surf session', new_surf_session_url %>

<p>
 <%= will_paginate %>
</p>

  <table class = "table-condensed">
    <tr>
      <th>Surfer</th>
      <th>Date</th>
      <th>Location</th>
      <th>Average Wave Height</th>
      <th>Session Rating</th>
      <th>Tags</th>
    </tr>


    <% @surf_sessions.each do |surf_session| %>
      <tr>
        <td><%= surf_session&.surfer %></td>
        <td><%= surf_session&.date.strftime("%D") %></td>
        <td><%= surf_session.spot&.title %></td>
        <td><%= surf_session&.average_wave_height.titleize %></td>
        <td><%= surf_session&.session_rating.titleize %></td>
        <td><%= tag_links(surf_session.tags) if surf_session.tags %></td>
        <td><%= link_to 'View', surf_session_path(surf_session) %></td>
        <td><%= link_to 'Edit', edit_surf_session_path(surf_session) %></td>
      </tr>
    <% end %>

  </table>

<p>
 <%= will_paginate %>
</p>


<p>
  <%= link_to 'View Surf Sessions by Tag', tags_path %><br>
<p><br>
</div>