<%= form_for :article do |f| %>
  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :spot_id %><br>
    <%= f.text_field :spot_id %>
  </p>

  <p>
    <%= f.label :start_time %><br>
    <%= f.time_field :start_time %>
  </p>

  <p>
    <%= f.label :end_time %><br>
    <%= f.time_field :end_time %>
  </p>
 
  <p>
    <%= f.label :average_wave_height %><br>
    <%= f.number_field(:average_wave_height, in: 1..25, step: 1) %>
  </p>

  <p>
    <%= f.label :session_summary %><br>
    <%= f.text_area :session_summary %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>