<p>
  <strong>Date:</strong>
  <%= @surf_session.date %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @surf_session.spot.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @surf_session.date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @surf_session.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @surf_session.end_time %>
</p>

<p>
  <strong>Average Wave Height:</strong>
  <%= @surf_session.average_wave_height %>
</p>

<p>
  <strong>Session Summary:</strong>
  <%= @surf_session.session_summary %>
</p>

<%= link_to 'All Surf Sessions', surf_sessions_path %>
<%= link_to 'Edit Surf Session', edit_surf_session_path %>
