<div class = "container-fluid">
  <h2>Surf Session</h2>

  <p>
    <strong>Surfer:</strong>
    <%= @surf_session.surfer %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @surf_session.date.strftime("%A, %B %d, %G") %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= @surf_session.spot.title %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= @surf_session.start_time.strftime("%I:%M %p") %>
  </p>

  <p>
    <strong>Sessions length:</strong>
    <%= distance_of_time_in_words(@surf_session.start_time, @surf_session.end_time) %>
  </p>

  <p>
    <strong>Average Wave Height:</strong>
    <%= @surf_session.average_wave_height.humanize %>
  </p>

  <p>
    <strong>Conditions:</strong>
    <%= @surf_session.surf_conditions&.humanize %>
  </p>

  <p>
    <strong>Consistency:</strong>
    <%= @surf_session.consistency&.humanize %>
  </p>

  <p>
    <strong>Overall Rating:</strong>
    <%= @surf_session.session_rating&.humanize %>
  </p>

  <p>
    <strong>Session Summary:</strong>
    <%= @surf_session.session_summary %>
  </p>

  <h3>Comments</h3>
  <%= render @surf_session.comments %>


  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>


  <%= link_to 'All Surf Sessions', surf_sessions_path %>
  <%= link_to 'Edit Surf Session', edit_surf_session_path %>
</div>
