<div class = "container-fluid">
<h1>Tags: <%= @tag.name.titleize %></h1>
  <h3>Surf Sessions Tagged with "<%= @tag.name.titleize %>"</h3>

  <table class='table-condensed'>
    <tr>
      <th>Date</th>
      <th>Surfer</th>
      <th>Spot</th>
    </tr>

  <% @tag.surf_sessions.each do |surf_session | %>
    <tr>
      <td><%= surf_session.date %></td>
      <td><%= surf_session.surfer %></td>
      <td><%= surf_session.spot.title %></td>
      <td><%= link_to "Show", surf_session_path(surf_session) %></td>
    </tr>
  <% end %>

  </table>

  <%= link_to 'View All Tags', tags_path %></br>
  <%= link_to 'View All Surf Sessions', surf_sessions_path %>

</div>