<%= form_for([@user, @user.surfboards.build]) do |f| %>
  <p>
    <%= f.label :surfboard_brand %><br>
    <%= f.text_field :surfboard_brand %>
  </p>
  <p>
    <%= f.label :surfboard_length %><br>
    <%= f.text_field :surfboard_length %>
  </p>
  <p>
    <%= f.label :surfboard_type %><br>
    <%= f.text_field :surfboard_type %>
  </p>
  <p>
    <%= f.label :surfboard_rating %><br>
    <%= f.text_field :surfboard_rating %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
