<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <p>
  <%= f.label :email %>:<br>
  <%= f.email_field :email %>
  </p>
  <p>
  <%= f.label :password %>:<br>
  <%= f.password_field :password %>
  </p>
  <%= f.submit "Log in" %>

<% end %>

<p>New user? <%= link_to "Sign up now!", sign_up_path %></p>